@model CTF.Fidelidade.Premmia.ViewModel.ViewModels.DynamicControlInView
@using System.Linq;
<select id="@(string.IsNullOrEmpty(Model.Id) ? Model.Name : Model.Id)" @(Model.Multiple ? "multiple" : "") name="@(string.IsNullOrEmpty(Model.Name) ? Model.Id : Model.Name)"  @foreach (var attribute in Model.Attributes)
                                                                                                                                                                                                                                 {@Html.Raw(attribute)} @if (Model.IsRequired)
                                                                                                                                                                                                                                                                                                     { @Html.Raw("data-val=\"true\" data-val-required=\"" + @Model.ErrorMessage + "\"")} class="@Model.CssClass">
@foreach (var option in Model.OptionList)
{ 
    <option value="@option.Value" @(option.Selected? "selected" : "")>@option.Text</option>
}
</select>
@if (Model.IsRequired)
{
    <span class="field-validation-valid" data-valmsg-for="@Model.Name" data-valmsg-replace="true">
    </span>
}
